
<div *ngIf="player">
  <h2>{{player.name}} details!</h2>
  </div>
  <div>
    <form>
      <div class="form-group">
        <label>id:
          <input class="form-control" [(ngModel)]="player.id" name="number" />
        </label>
      </div>
      <div class="form-group">
        <label>name:
          <input class="form-control" [(ngModel)]="player.name" name="text" />
        </label>
      </div>
      <div class="form-group">
        <label>country:
          <input class="form-control" [(ngModel)]="player.country" name="country" type="text" />
        </label>
      </div>
      <div class="form-group">
        <label>age:
          <input class="form-control" [(ngModel)]="player.age" name="age" type="number" />
        </label>
      </div>
      <div class="form-group">
        <label>points:
          <input class="form-control" [(ngModel)]="player.points" name="points" type="number" />
        </label>
      </div>
      <div class="form-group">
        <label>Tournaments playerd:
          <input class="form-control" [(ngModel)]="player.tournamentsPlayed" name="tournamentsPlayed" type="number" />
        </label>
      </div>
      <div class="form-group">
        <button class="btn" (click)="goBack()">go back</button>
      </div>
      <button (click)="save()">Save</button>
    </form>
  </div>
</div>
