<h2>Mijn Players</h2>
<ul>
    <li *ngFor="let p of players">
            <a class="nav-item nav-link" routerLink="/detail/{{p.id}}">
            <span>{{p.id}}</span> {{p.name}}
            </a>
                <a class="btn" (click)="delete(p)">
                    <fa-icon [icon]="fatrash"></fa-icon>
                  </a>         
    </li>
</ul>
<div>
  <form>
      <div class="form-group">
          <label>Player name:
              <input type="text" class="form-control" [(ngModel)]="nieuwPlayer.name" name="playername" />
          </label>
      </div>
      <div class="form-group">
          <label>Player country:
              <input type="text" class="form-control" [(ngModel)]="nieuwPlayer.country" name="country" />
          </label>
      </div>
      <div class="form-group">
        <label>Age:
            <input type="number" class="form-control" [(ngModel)]="nieuwPlayer.age" name="age" />
        </label>
    </div>
    <div class="form-group">
        <label>Points:
            <input type="number" class="form-control" [(ngModel)]="nieuwPlayer.Points" name="points" />
        </label>
    </div>
    <div class="form-group">
        <label>Tournaments Played:
            <input type="number" class="form-control" [(ngModel)]="nieuwPlayer.tournamentsPlayed" name="tournamentsPlayed" />
        </label>
    </div>
      <button class="btn btn-primary" (click)="add()">
          add
      </button>
  </form>
</div>

    <!--<h2>Details van {{land.name}}</h2>
  <div><label>id: </label>{{land.id}}</div>
  <div><label>naam: </label>{{land.name}}
  <input [(ngModel)]="land.name" placeholder="name"></div>
  <h1>Landen</h1>
            <h2>Mijn landen</h2>
            <ul class="landen">
              <li *ngFor="let l of landen" (click)="onSelect(l)" [class.selected]="l===selectedLand">>
                <span>{{l.id}}</span>{{l.name}}
              </li>
            </ul>
<div *ngIf="selectedLand">
   <h2>{{selectedLand.name}} details!</h2>
   <div>
<label>id: </label>{{selectedLand.id}}
   </div>
   <div>
      <label>name: </label>
      <input [(ngModel)]="selectedLand.name" placeholder="name"/>
   </div>-->
   <!--<app-land-details [land]="selectedLand" (valueChange)="onValueChange($event)"></app-land-details>-->
