<p class="h2">Players</p>
<button class="btn btn-primary" (click)="toggle()" id="bt">{{buttonName}}
</button> 
<div *ngIf="show">
  <form>
      <div class="form-group">
          <label>Player name:
              <input type="text" class="form-control" [(ngModel)]="nieuwPlayer.name" name="playername" />
          </label>
      </div>
      <div class="form-group">
          <label>Player country:
              <input type="text" class="form-control" [(ngModel)]="nieuwPlayer.country" name="country" />
          </label>
      </div>
      <div class="form-group">
        <label>Age:
            <input type="number" class="form-control" [(ngModel)]="nieuwPlayer.age" name="age" />
        </label>
    </div>
    <div class="form-group">
        <label>Points:
            <input type="number" class="form-control" [(ngModel)]="nieuwPlayer.points" name="points" />
        </label>
    </div>
    <div class="form-group">
        <label>Tournaments Played:
            <input type="number" class="form-control" [(ngModel)]="nieuwPlayer.tournamentsPlayed" name="tournamentsPlayed" />
        </label>
    </div>
      <button class="btn btn-primary" (click)="add()">
          add
      </button>
  </form>
</div>


<table class="table-hover">
    <tr *ngFor="let p of players">
        <td>
            <a class="nav-item nav-link" routerLink="/detail/{{p.id}}">
                <span>{{p.id}}</span>
            </a>
        </td>
        <td>
            <a class="nav-item nav-link" routerLink="/detail/{{p.id}}">
                <span>{{p.name}}</span> 
            </a>
        </td>
        <td>
            <a class="nav-item nav-link" routerLink="/detail/{{p.id}}">
                <span>{{p.country}}</span>
            </a>
        </td>
        <td>
            <a class="nav-item nav-link" routerLink="/detail/{{p.id}}">
                <span>{{p.age}}</span>
            </a>
        </td>
        <td>
            <a class="nav-item nav-link" routerLink="/detail/{{p.id}}">
                <span>{{p.points}}</span>
            </a>
        </td>
        <td>
            <a class="nav-item nav-link" routerLink="/detail/{{p.id}}">
                <span>{{p.tournamentsPlayed}}</span>
            </a>
        </td>
        <td>
            <a class="btn btn-danger" (click)="delete(p)">x
            </a>  
        </td>
    </tr>
</table>
